<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
</head>
<body>
    <div class="main">
        {{>header}}
        <h1>{{name}}</h1>
        <h3>MERN Stack Developer</h3>
        <p>Email - <em>pandey.kaku@live.com</em></p>
    
    </div>

    

    {{>footer}}
</body>
</html>