

<header>
    <h1 class="heading">{{title}}</h1>
    <div class="nav-link">
        <button><a href="/">Weather</a></button>
        <button><a href="/help">Help</a></button>
        <button><a href="/about">About</a></button>
    </div>
</header>